*{
    margin: 0px;
    padding: 0px;
}


body{
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.container-todo-princic{
 border-radius: 10px;
 margin-top: 30px;
}

.container-add-todo{
    background-color: #131d4f;
    height: 200px;
    width: 350px;
    border-radius: 10px 10px 5px 5px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    margin-bottom: -14px;
    position: relative;
}

.container-add-todo h1{
    color: #dfd6d6;
}

.container-add-todo input[type="text"]{
    height: 35px;
    width: 250px;
    padding-left: 10px;
    border-radius: 6px;
    margin-right: 5px;
}


.container-add-todo input[type="submit"]{
    background-color:#0c3961 ;
    color: white;
    border: none;
    padding: 11px;
    cursor: pointer;
    border-radius: 6px;
}


.container-todo-item{
    border:1px solid rgba(0, 0, 0, 0.103);
    border-radius: 0px 0px 10px 10px;
    min-height: 300px;
    max-height: auto;
    background-color:#EFE4D2 ;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;

}

.container-todo-item ul li {
  background-color:#FFF4E8 ;
  display: flex;              
  align-items: center; 
  margin-top: 25px;  
  width: 300px;   
  gap: 5px;                  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #954b2e9c;
}


.container-todo-item li p {
  margin: 0;
  flex: 1;   
}

.container-todo-item p{
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.fa-edit, .fa-trash-alt{
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  color: rgb(82, 81, 81);
}


.fa-edit:hover{
  color: rgba(0, 0, 255, 0.774);
}
.fa-trash-alt:hover{
  color: rgba(158, 23, 23, 0.918);
}


.button-check{
  border: 1px solid black;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.button-check .fa-check{
  color:rgb(21, 136, 21);
  display: none;
}

.editContainer{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.editInput{
    background-color: #b7b1d883;
    display: flex;
    margin: 8px;
    gap: 10px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    padding-left: 10px;
}

.editButton, .cancelButton{
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 3px;
    transition: 0.5s ease-in-out;
}

.editButton:hover{
    background-color: rgba(0, 0, 255, 0.582);
}

.cancelButton:hover{
    background-color: rgba(158, 23, 23, 0.726);
}

